body {
  background-image: url('/images/white_bookshelf.jpg');
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
}

/*-----------NAV------------------*/


nav {
  width: 100%;
  height: 60px;
  font-weight: bold;
  background-color: #FF9D4E ;
  position: relative;
  margin-top: 0px;
  /*border-bottom: solid #FF9D4E 1px;*/
  /*border-top: solid #FF9D4E 5px;*/

}
.circle {
  height: 45px;
  width: 45px;
  background-color: #F8F8F8 ;
  margin-left: 22px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}

nav img{
  height: 32px;
  margin-top: 8px;
  margin-left: 3px;
}

nav ul{
  display: inline-block;
  margin-right: 25px;
  list-style-type: none;
  font-size: 16pt;
  float:right;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
}

nav li{
  display: inline-block;
  margin-left: 30px;
}

nav li a{
  text-decoration: none;
  color: black;
}
nav input{
  color: black;
}



/*-----------LOGIN/SIGNUP/FORMS------------------*/
.login_container {
  margin: 20px auto;
  width: 300px;
  margin-top: 200px;
}

.login_container img{
  width: 50%;
  display: block;
  margin:auto;
  margin-bottom: 5px;
}

.login_container h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #687B85;
}

#sign-in input, #sign-up input, #add-book input, input{
  width: 290px;
  font-size: 20pt;
  border: none;
  font-weight: lighter;
  padding: 5px;
  border-radius: 2px;
}

#sign-in .submit, #sign-up .submit, #add-book .submit, .submit{
  background-color: #FF9D4E;
  color: white;
  width: 300px;
  margin-bottom: 0px;
}

.new_user a{
  color: #FF9D4E;
  text-decoration: none;
}

.new_user {
  text-align: right;
  font-style: italic;
}

.errors {
  text-align: center;
  color: black;
}

input {
  margin-bottom: 10px;
}

.submit {
  text-align: center;
}

#sign-out input {
  border:none;
  background:none;
}

/*-----------------LIST BOOKS-----------------*/



.content {

  width: 70%;
  max-width: 750px;
  min-width: 350px;
  background-color: red;
  display: block;
  margin: auto;
  background-color: #F8F8F8;
  min-height: 300px;
  max-height: 550px;
  overflow-y: scroll;
  margin-top: 100px;
}

.book {
  /*background-color: white;*/
  margin: 5px;
  margin-bottom: 30px;
}

.book .book_title {
  font-size: 16pt;
  color: #687B85;
  margin-bottom: 0px;
}

.book .author {
  color: #FF9D4E;
}

/*----------EDIT BOOKS *----------------*/

.edit-book{
  width: 90%;
}
#edit-book{
  margin-left: 30px;
}