body {
  background-image: url('/images/white_bookshelf.jpg');
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
}

/*-----------NAV------------------*/


nav {
  width: 100%;
  height: 60px;
  font-weight: bold;
  background-color: #FF9D4E ;
  position: relative;
  margin-top: 0px;

}
.circle {
  height: 45px;
  width: 45px;
  background-color: #F8F8F8 ;
  margin-left: 22px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}

nav img{
  height: 32px;
  margin-top: 8px;
  margin-left: 3px;
}

nav ul{
  list-style-type: none;
  font-size: 16pt;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
}

nav li{
  display: inline;
  margin-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
}

nav li a{
  text-decoration: none;
  color: white;
}
nav input{
  color: white;
  font-size: 16pt;
  width: 100px;
  padding-left: 0px;
}

nav form {
  display: inline;
}


@media screen and (max-width: 650px){
  nav ul {
    font-size: 12pt;
  }

  nav li {
    margin-left: 20px
  }

  nav input {
    font-size: 12pt;
  }



}





/*-----------LOGIN/SIGNUP/FORMS------------------*/
.login_container {
  margin: 20px auto;
  width: 300px;
  margin-top: 200px;
}

.login_container img{
  width: 50%;
  display: block;
  margin:auto;
  margin-bottom: 5px;
}

.login_container h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #687B85;
}

#sign-in input, #sign-up input, #add-book input, input, select{
  width: 290px;
  font-size: 20pt;
  border: none;
  font-weight: lighter;
  padding: 5px;
  border-radius: 2px;
}

#sign-in .submit, #sign-up .submit, #add-book .submit, .submit{
  background-color: #FF9D4E;
  color: white;
  width: 300px;
  margin-bottom: 0px;
}

.new_user a{
  color: #FF9D4E;
  text-decoration: none;
}

.new_user {
  text-align: right;
  font-style: italic;
}

.errors {
  text-align: center;
  color: black;
}

input {
  margin-bottom: 10px;
}

.submit {
  text-align: center;
}

#sign-out input {
  border:none;
  background:none;
}

/*-----------------LIST BOOKS-----------------*/



.content {

  width: 70%;
  max-width: 750px;
  min-width: 350px;
  background-color: red;
  display: block;
  margin: auto;
  background-color: #F8F8F8;
  min-height: 300px;
  max-height: 610px;
  overflow-y: scroll;
  margin-top: 60px;
}

.book {
  /*background-color: white;*/
  margin: 5px;
  margin-bottom: 30px;
}

.book .book_title {
  font-size: 16pt;
  color: #687B85;
  margin-bottom: 0px;
}

.book .author {
  color: #FF9D4E;
}

/*----------EDIT BOOKS *----------------*/

#edit-book input{
  width: 90%;
}


#delete-book input, #edit-book .submit{
  width: 91%;
}

select{
  width: 92%;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
  margin-bottom: 45px;
}

#edit-book, #delete-book{
  margin-left: 30px;
}

.text-dec-off{
  text-decoration: none;
}

.data_container{

  width: 70%;
  max-width: 750px;
  min-width: 350px;
  display: block;
  margin: auto;
  /*background-color: #F8F8F8;*/
  /*min-height: 300px;*/
  /*max-height: 610px;*/
  /*overflow-y: scroll;*/
  margin-top: 60px;
}

.stats{
  width: 100%;
  /*background-color: blue;*/
}


.stat{
  background-color: #ff9d4e;
  display: inline-block;
  width: 24.5%;
  height: 200;
  vertical-align: top;
  margin-bottom: 25px;
  border-radius: 5px;
}

.stat p{
  padding: 5px;
  color: white;
  font-size: 20pt;
  text-align: center;
}

@media screen and (max-width: 975px){
  .stat p {
    font-size: 16pt;
  }
}

@media screen and (max-width: 875px){
  .stat{
    display: block;
    width: 100%;
  }
}

.graph {
  margin-bottom: 25px;
}

.empty{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: lighter;
  text-align: center;
  color: #687B85;
}