<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>



  <% if current_user %>

  <nav>
    <!-- <h3 style = "opacity: 1.0"> Pigeon Pages </h3> -->
    <div class = 'circle'>
      <img src ='/images/logo.png'>
    </div>

    <ul>
      <li>Add</li>
      <li>List</li>
      <li>Data</li>
      <li>
        <form id="sign-out" action="/sessions/<%= current_user.id %>" method="post">
          <input name="_method" type="hidden" value="delete" />
          <input type="submit" value="Sign Out">
        </form>
      </li>


    </ul>
  </nav>


  <% end %>




  <!-- <div class="container"> -->
  <%= yield %>
  <!-- </div> -->
</body>
</html>
