<div class = 'content'>
  <p>Total books: <%= @num_books %> </p>
  <p>Total pages: <%= @num_pages %> </p>

  <div id="container" style="width:100%; height:300px;"></div><br><br>
  <div id="publication_year" style="width:100%; height:300px;"></div>


</div>