<div class = 'content'>

<% @books.each do |book| %>
  <div class = 'book'>
    <p class = 'book_title'><%= book.title %> (<%= book.publication_year %>)</p>
    <p class = 'author'><%= book.author %></p>
  </div>
<%end%>

</div>