<div class = 'login_container'>
  <img src ='/images/logo.png'>

  <h1>Pigeon Pages</h1>

  <form id="sign-up" method="post" action="/users">
    <input type="text" name="name" placeholder="Username"
    <%= erb :value, :locals => {:arg => :name} %>>
    <br>

    <input type="email" name="email" placeholder="Email"
    <%= erb :value, :locals => {:arg => :email} %>>
    <br>

    <input type="password" name="password" pattern=".{8,16}" required title = "Password must be 8 to 16 characters." placeholder="Password">
    <br>

    <input type="submit" class = 'submit' value="Sign Up">
    <%= erb :display_errors %>

    <p class = 'new_user'><a href = '/'>have an account?</a></p>
  </form>


  <% session.clear %>

</div>
